<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Febre Amarela
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
    <form [formGroup]="FormDados" id="preInfo" (ngSubmit)="enviarDados()">
        <ion-title>Enviar</ion-title>
        <div id="map_canvas"></div>
        <br>
       <!--<ion-item id="itemEnvio">-->
            <ion-thumbnail slot="start">
              <img [src]="downloadUrl | async" *ngIf="downloadUrl | async" style="height: 100%"/>
            </ion-thumbnail>
             <!--<ion-label id="lblEnvio">
            <ion-button shape="round" id="btnPreview" (click)="modPreview()">Pré-Visualizar</ion-button>
            </ion-label>
          </ion-item>
          <ion-button shape="round" id="btnPreview" (click)="modPreview()">Pré-Visualizar</ion-button>-->
          <ion-input [(ngModel)]="ocorrencia.imageUrl" formControlName="imageUrl" value="{{downloadUrl | async}}" style="display:none"></ion-input>
          <ion-input [(ngModel)]="ocorrencia.latitude" formControlName="latitude" [value]="ocorrencia.latitude" style="display:none"></ion-input>
          <ion-input [(ngModel)]="ocorrencia.longitude" formControlName="longitude" [value]="ocorrencia.longitude" style="display:none"></ion-input>
          <ion-input [(ngModel)]="ocorrencia.nomeSobrenome" formControlName="nomeSobrenome" [value]="ocorrencia.nomeSobrenome" style="display:none"></ion-input>
          <ion-input [(ngModel)]="ocorrencia.celular" formControlName="celular" [value]="ocorrencia.celular" style="display:none"></ion-input>
          <ion-item>
              <ion-label>Logradouro</ion-label>
              <ion-input [(ngModel)]="ocorrencia.logradouro" formControlName="logradouro" [value]="ocorrencia.logradouro"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Informações Adicionais</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label floating>Estado do Animal</ion-label>
                  <ion-select [(ngModel)]="ocorrencia.estadoAnimal" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione" formControlName="estadoAnimal">
                    <ion-select-option value="Em decomposição">Em decomposição</ion-select-option>
                    <ion-select-option value="Morto recentemente">Morto recentemente</ion-select-option>
                  </ion-select>
                </ion-item>
	             <ion-item>
                  <ion-label floating>Complemento</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.complemento"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Ponto de Referência</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.pontoReferencia" formControlName="pontoReferencia"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Bairro</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.bairro" formControlName="bairro"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Município</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.municipio" [value]="ocorrencia.municipio" formControlName="municipio"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Estado</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.estado" [value]="ocorrencia.estado" formControlName="estado"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>CEP</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.cep" [value]="ocorrencia.cep" formControlName="cep"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Zona</ion-label>
                  <ion-select [(ngModel)]="ocorrencia.zona" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selecione" formControlName="zona">
                    <ion-select-option value="Urbana">Urbana</ion-select-option>
                    <ion-select-option value="Periurbana">Periurbana</ion-select-option>
                    <ion-select-option value="Rural">Rural</ion-select-option>
                    <ion-select-option value="Área Silvestre">Área Silvestre</ion-select-option>
                    <ion-select-option value="Ignorada">Ignorada</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label floating>País</ion-label>
                  <ion-input [(ngModel)]="ocorrencia.pais" [value]="ocorrencia.pais" formControlName="pais"></ion-input>
                </ion-item>
    <div id="Envio">
        <ion-button shape="round" id="btnEnvio" class="submit-btn" type="submit" [disabled]="!FormDados.valid">
            <ion-icon id="btnEnvioIcon" slot="icon-only" name="send"></ion-icon>
            <ion-label>Enviar</ion-label>
        </ion-button>
     </div>
     </form>
</ion-content>
