<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>App Febre Amarela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Saiba Mais</h1>
<p>A febre amarela é uma doença viral com letalidade de <strong>46%</strong> em humanos.</p>
<p>Os macacos também são vítimas desse vírus e os primeiros a adoecer.</p>
<p>Por isso o intuito deste aplicativo é ajudar a monitorar a doença mostrando
  que o vírus pode estar circulando na região.
</p>
<ion-button size="medium" id="btnHome" routerLink="/home" routerDirection="root">
  <ion-icon id="btnHomeIcon" slot="icon-only" name="home">Home</ion-icon>
  <ion-label>Home</ion-label>
</ion-button>
</ion-content>